@model IEnumerable<GolfCard.MVC.Models.StableFord>

@{
    ViewBag.Title = "ViewStableScoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   .btn a {
        color: white;
        text-decoration: none;
    }

    .btn a:hover {
        color: white;
        text-decoration: none;
    }
</style>

<h2>StableFord Points</h2>
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>
            HOLES
        </th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>IN</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>OUT</th>
        <th>TOTAL</th>
        <th>HANDICAP</th>
        <th>NET</th>
        <th></th>
    </tr>
    <tr>
        <th>
            YARDS
        </th>
        <th>365</th>
        <th>423</th>
        <th>230</th>
        <th>463</th>
        <th>421</th>
        <th>210</th>
        <th>522</th>
        <th>407</th>
        <th>465</th>
        <th>3421</th>
        <th>537</th>
        <th>375</th>
        <th>168</th>
        <th>358</th>
        <th>395</th>
        <th>425</th>
        <th>513</th>
        <th>375</th>
        <th>510</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>
            PAR
        </th>
        <th>4</th>
        <th>4</th>
        <th>3</th>
        <th>4</th>
        <th>4</th>
        <th>4</th>
        <th>3</th>
        <th>5</th>
        <th>4</th>
        <th>39</th>
        <th>4</th>
        <th>5</th>
        <th>4</th>
        <th>3</th>
        <th>4</th>
        <th>4</th>
        <th>4</th>
        <th>5</th>
        <th>4</th>
        <th>33</th>
        <th>72</th>
        <th></th>
        <th>72</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var inPoints = 0;
        var outPoints = 0;
        var totPoints = 0;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Player, new { @class = "nameTextColumn" })
            </td>
             @foreach (var modelitem in item.Hole.Take(9))
                {
                <td>
                    @Html.DisplayFor(m => modelitem)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.IN)
            </td>
            @foreach (var modelitem in item.Hole.Skip(9).Take(9))
                {
                <td>
                    @Html.DisplayFor(m => modelitem)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.OUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandiCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NET)
            </td>
            <td style="width:126px">
                @Html.ActionLink("Edit", "EditCard", new { Id = item.Id }) | @Html.ActionLink("Delete", "DeleteCard", new { Id = item.Id })
            </td>
        </tr>
        <tr>
            <td>
                Stableford points
            </td>
            @foreach (var modelitem in item.Points.Take(9))
                {
                <td>
                    @Html.DisplayFor(m => modelitem)
                </td>

                inPoints += modelitem;
            }
            <td>
                @inPoints
            </td>
            @foreach (var modelitem in item.Points.Skip(9).Take(9))
                {
                <td>
                    @Html.DisplayFor(m => modelitem)
                </td>

                outPoints += modelitem;
            }
            <td>
                @(totPoints = inPoints + outPoints)
            </td>
            <td></td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.StableFordsPoints)
            </td>
            <td></td>
        </tr>
    }
</table>

<button class="btn btn-primary">
    @Html.ActionLink("Create New Score Card", "CreateCard")
</button>